# ========================
# Стандартные исключения
# ========================
.DS_Store
*.log
*.pem

# ========================
# Зависимости и сборка
# ========================
node_modules/
.next/
out/
build/
dist/
.turbo/

# ========================
# Системные файлы
# ========================
*.tsbuildinfo
.next-env.d.ts
.env*.local

# ========================
# Инструменты разработки
# ========================
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnp.*
.pnpm-debug.log*

# ========================
# Тестирование
# ========================
coverage/
.nyc_output/

# ========================
# IDE и редакторы
# ========================
.vscode/
.idea/
.cursor/
# ========================
# конфиги
# ========================
.env.local
next.config
next.config.js
next.config.ts
next.config.mjs
postcss.config.mjs
tailwind.config.js
eslint.config.mjs

public/robots.txt